
<div>
<h1>Events</h1>
<h2>
    Backend:
    <% if @data == {} %>
        <span class="dot status-fail"></span>
    <% else %>
        <span class="dot status-success"></span>
    <% end %>
</h2>
<% @data["data"].each do |event| %>
    <div class="card" style="display: flex; justify-content: space-between">
        <div>
            <h3><%= event["title"] %></h3>
            <%= event["date"] %>
        </div>
        <div class="button raised-accent-primary">
            <%= link_to "View", event_path(event["id"]), style: "text-decoration: none; color: white;"%>
        </div>
    </div>
<% end %>
</div>